/* Importa variáveis */
@import url('variables.css');

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-texto);
  font-size: var(--size-texto);
  color: var(--preto);
  background-color: var(--off-white);
  line-height: 1.5;
}

/* Tipografia global */
h1 { 
    font-family: var(--font-titulo); 
    font-size: var(--size-titulo);
 }
h2 {
     font-family: var(--font-subtitulo1); 
     font-size: var(--size-subtitulo1);
 }
h3 {
     font-family: var(--font-subtitulo2);
      font-size: var(--size-subtitulo2); 
    }
h4 { 
    font-family: var(--font-subtitulo3); 
    font-size: var(--size-subtitulo3);
 }

p { font-family: var(--font-texto); font-size: var(--size-texto); }
p.maiusculo { text-transform: uppercase; }
p.minusculo { text-transform: none; }

a { color: var(--roxo-escuro); text-decoration: none; }
a:hover { color: var(--magenta); }

img { max-width: 100%; height: auto; display: block; }
